In [1]:
삼성전자 = 50000

In [3]:
삼성전자 * 10

500000

In [4]:
s = "hello"

In [5]:
t = "python"

In [7]:
print(s + "! " + t)

hello! python

In [8]:
2 + 2 * 3

8

In [9]:
a = "132"

In [10]:
type(a)

str

In [11]:
a = 3

In [12]:
b = 4

In [13]:
print(a + b)

7

In [14]:
a = "3"

In [15]:
b = "4"

In [16]:
print(a + b)

34

In [17]:
print(a +" "+ b)

3 4

In [18]:
print("Hi" * 3)

HiHiHi

In [19]:
print('_'*80)

________________________________________________________________________________

In [20]:
t1 = "python"

In [21]:
t2 = "java"

In [23]:
t3 = t1 + " "+ t2 +" "

In [25]:
print (t3*3)

python java python java python java

In [26]:
name = '김민수'

In [27]:
age = '10'

In [32]:
"내 이름은 김민수, 나이는 10살이지"

'내 이름은 김민수, 나이는 10살이지'

In [33]:
print("내 이름은 "+name+", 나이는 "+str(age)+"살이지")

내 이름은 김민수, 나이는 10살이지

In [34]:
type(age)

str

In [36]:
type(str(age)) #'10' = str(10) = "10"

str

In [50]:
print("내 이름은 {}, 나이는 {}살이지" .format(name, age))

내 이름은 김민수, 나이는 10살이지

In [57]:
print("내 이름은 %s, 나이는 %s살이지" % (name, age))

내 이름은 김민수, 나이는 10살이지

In [54]:
print("내 이름은 {val1}, 나이는 {val2}살이지".format(val1=name, val2=age))

내 이름은 김민수, 나이는 10살이지

In [ ]:
print("내 이름은 ")