In [1]:
import pandas as pd
import seaborn as sns

In [10]:
crashes =sns.load_dataset('car_crashes')
crashes[['speeding','alcohol']] 
#양쪽을 대괄호로 묶고 list형식으로 가져오기 / 이렇게 데이터를 로드해올 수 있다.

    speeding  alcohol
0      7.332    5.640
1      7.421    4.525
2      6.510    5.208
3      4.032    5.824
4      4.200    3.360
5      5.032    3.808
6      4.968    3.888
7      6.156    4.860
8      2.006    1.593
9      3.759    5.191
10     2.964    3.900
11     9.450    7.175
12     5.508    4.437
13     4.608    4.352
14     3.625    4.205
15     2.669    3.925
16     4.806    4.272
17     4.066    4.922
18     7.175    6.765
19     5.738    4.530
20     4.250    4.000
21     1.886    2.870
22     3.384    3.948
23     2.208    2.784
24     2.640    5.456
25     6.923    5.474
26     8.346    9.416
27     1.937    5.215
28     5.439    4.704
29     4.060    3.480
30     1.792    3.136
31     3.496    4.968
32     3.936    3.567
33     6.552    5.208
34     5.497   10.038
35     3.948    4.794
36     6.368    5.771
37     4.224    3.328
38     9.100    5.642
39     3.774    4.218
40     9.082    9.799
41     6.014    6.402
42     4.095    5.655
43     7.760    7.372
44     4.859    1.808
45     4.080    4.080
46     2.413    3.429
47     4.452    3.498
48     8.092    6.664
49     4.968    4.554
50     7.308    5.568

In [11]:
df = crashes [['speeding','alcohol']]
df.head()

   speeding  alcohol
0     7.332    5.640
1     7.421    4.525
2     6.510    5.208
3     4.032    5.824
4     4.200    3.360

In [13]:
add = df+5
add.head()

   speeding  alcohol
0    12.332   10.640
1    12.421    9.525
2    11.510   10.208
3     9.032   10.824
4     9.200    8.360

In [15]:
df.shape

(51, 2)

In [16]:
df.info

<bound method DataFrame.info of     speeding  alcohol
0      7.332    5.640
1      7.421    4.525
2      6.510    5.208
3      4.032    5.824
4      4.200    3.360
5      5.032    3.808
6      4.968    3.888
7      6.156    4.860
8      2.006    1.593
9      3.759    5.191
10     2.964    3.900
11     9.450    7.175
12     5.508    4.437
13     4.608    4.352
14     3.625    4.205
15     2.669    3.925
16     4.806    4.272
17     4.066    4.922
18     7.175    6.765
19     5.738    4.530
20     4.250    4.000
21     1.886    2.870
22     3.384    3.948
23     2.208    2.784
24     2.640    5.456
25     6.923    5.474
26     8.346    9.416
27     1.937    5.215
28     5.439    4.704
29     4.060    3.480
30     1.792    3.136
31     3.496    4.968
32     3.936    3.567
33     6.552    5.208
34     5.497   10.038
35     3.948    4.794
36     6.368    5.771
37     4.224    3.328
38     9.100    5.642
39     3.774    4.218
40     9.082    9.799
41     6.014    6.402
42     4.095    5.655
43     7.760    7.372
44     4.859    1.808
45     4.080    4.080
46     2.413    3.429
47     4.452    3.498
48     8.092    6.664
49     4.968    4.554
50     7.308    5.568>

In [17]:
df.dtypes

speeding    float64
alcohol     float64
dtype: object

In [20]:
crashes.dtypes

total             float64
speeding          float64
alcohol           float64
not_distracted    float64
no_previous       float64
ins_premium       float64
ins_losses        float64
abbrev             object
dtype: object

In [21]:
crashes.total.dtypes

dtype('float64')

In [22]:
crashes.describe()

,total,speeding,alcohol,not_distracted,no_previous,ins_premium,ins_losses
count,51.000000,51.000000,51.000000,51.000000,51.000000,51.000000,51.000000
mean,15.790196,4.998196,4.886784,13.573176,14.004882,886.957647,134.493137
std,4.122002,2.017747,1.729133,4.508977,3.764672,178.296285,24.835922
min,5.900000,1.792000,1.593000,1.760000,5.900000,641.960000,82.750000
25%,12.750000,3.766500,3.894000,10.478000,11.348000,768.430000,114.645000
50%,15.600000,4.608000,4.554000,13.857000,13.775000,858.970000,136.050000
75%,18.500000,6.439000,5.604000,16.140000,16.755000,1007.945000,151.870000
max,23.900000,9.450000,10.038000,23.661000,21.280000,1301.520000,194.780000

In [23]:
crashes.count()

total             51
speeding          51
alcohol           51
not_distracted    51
no_previous       51
ins_premium       51
ins_losses        51
abbrev            51
dtype: int64

In [24]:
crashes['total'].value_counts()

14.1    2
12.8    2
13.6    2
21.4    2
19.4    2
23.9    2
14.9    1
14.7    1
11.6    1
11.2    1
18.4    1
12.3    1
16.8    1
19.9    1
17.6    1
18.2    1
11.1    1
19.5    1
11.3    1
12.7    1
10.6    1
23.8    1
13.8    1
16.1    1
18.8    1
9.6     1
18.1    1
18.6    1
22.4    1
12.0    1
10.8    1
16.2    1
5.9     1
17.9    1
15.6    1
17.5    1
15.3    1
14.5    1
15.7    1
17.8    1
20.5    1
15.1    1
12.5    1
8.2     1
17.4    1
Name: total, dtype: int64

In [25]:
crashes.mean() #평균값

C:\Users\redca\AppData\Local\Temp\ipykernel_1716\3526738809.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  crashes.mean()

total              15.790196
speeding            4.998196
alcohol             4.886784
not_distracted     13.573176
no_previous        14.004882
ins_premium       886.957647
ins_losses        134.493137
dtype: float64

In [27]:
crashes.median() #중간값

C:\Users\redca\AppData\Local\Temp\ipykernel_1716\1127554616.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  crashes.median()

total              15.600
speeding            4.608
alcohol             4.554
not_distracted     13.857
no_previous        13.775
ins_premium       858.970
ins_losses        136.050
dtype: float64

In [30]:
crashes.max() #최대값

total                23.9
speeding             9.45
alcohol            10.038
not_distracted     23.661
no_previous         21.28
ins_premium       1301.52
ins_losses         194.78
abbrev                 WY
dtype: object

In [31]:
crashes.min()

total                5.9
speeding           1.792
alcohol            1.593
not_distracted      1.76
no_previous          5.9
ins_premium       641.96
ins_losses         82.75
abbrev                AK
dtype: object

In [33]:
crashes.std()

C:\Users\redca\AppData\Local\Temp\ipykernel_1716\1814010731.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  crashes.std()

total               4.122002
speeding            2.017747
alcohol             1.729133
not_distracted      4.508977
no_previous         3.764672
ins_premium       178.296285
ins_losses         24.835922
dtype: float64