In [33]:
"""
squeeze메서드는 차원을 축소(압축). 
행이나 열이 1개만 있는 데이터를 squeeze하면 Series 객체가 됨
Series를 squeeze하면 스칼라값이 된다
"""


#df.squeeze() 하면 행이나 열이 1개가 아니기 때문에(압축할 수 없기때문에) 원본이 반환된다.

# row1 삭제

'\nsqueeze메서드는 차원을 축소(압축). \n행이나 열이 1개만 있는 데이터를 squeeze하면 Series 객체가 됨\nSeries를 squeeze하면 스칼라값이 된다\n'

In [72]:
import pandas as pd
df=pd.DataFrame(data=[[1,2],[3,4]],index=['row1','row2'],columns=['col1','col2'])
df1=pd.DataFrame(data=[[5,6],[7,8]],index=['row1','row2'],columns=['col1','col2'])
df2=pd.DataFrame(data=[[9,10],[11,12]],index=['row1','row2'],columns=['col1','col2'])
print(df)

      col1  col2
row1     1     2
row2     3     4

In [73]:
df_row=df.drop(index='row1')
print(df_row)
print(df_row.squeeze())

      col1  col2
row2     3     4
col1    3
col2    4
Name: row2, dtype: int64

In [74]:
df.squeeze

<bound method NDFrame.squeeze of       col1  col2
row1     1     2
row2     3     4>

In [75]:
df_col = df.drop(columns='col1')

In [76]:
df_col

      col2
row1     2
row2     4

In [77]:
df_col.squeeze()

row1    2
row2    4
Name: col2, dtype: int64

In [78]:
df_col_row = df.drop(index='row1', columns='col1')

In [79]:
df_col_row.squeeze() #데이터를 맞춰놓고 형식에 맞춰서 스퀴즈를 해줘야 차원축소가 가능함

4

In [80]:
df

      col1  col2
row1     1     2
row2     3     4

In [81]:
df.index #행에 대해서 출력

Index(['row1', 'row2'], dtype='object')

In [82]:
df.columns

Index(['col1', 'col2'], dtype='object')

In [83]:
df.dtypes

col1    int64
col2    int64
dtype: object

In [84]:
df.axes #list형식으로 반환

[Index(['row1', 'row2'], dtype='object'),
 Index(['col1', 'col2'], dtype='object')]

In [85]:
df.size

4

In [86]:
df.ndim

2

In [87]:
df.shape

(2, 2)

In [88]:
df1.index

Index(['row1', 'row2'], dtype='object')

In [89]:
df2.index

Index(['row1', 'row2'], dtype='object')

In [90]:
df1.columns

Index(['col1', 'col2'], dtype='object')

In [91]:
df2.columns

Index(['col1', 'col2'], dtype='object')

In [92]:
df1.ndim

2

In [93]:
df2.ndim

2

In [94]:
df1.shape

(2, 2)

In [95]:
df2.shape

(2, 2)

In [96]:
df

      col1  col2
row1     1     2
row2     3     4