In [4]:
import numpy as np
import pandas as pd

In [5]:
import pyupbit

In [26]:
data = pyupbit.get_ohlcv('KRW-BTC','day',200) #ochiv => open,high,low,close #시가 고가 저가 종가 거래량

In [27]:
type(data)

pandas.core.frame.DataFrame

In [28]:
data

,open,high,low,close,volume,value
2021-11-05 09:00:00+09:00,73807000.0,75000000.0,73490000.0,74121000.0,5520.423654,4.107097e+11
2021-11-06 09:00:00+09:00,74092000.0,74649000.0,73800000.0,74575000.0,3742.076714,2.776297e+11
2021-11-07 09:00:00+09:00,74576000.0,76700000.0,74481000.0,76536000.0,4447.009866,3.356342e+11
2021-11-08 09:00:00+09:00,76649000.0,81586000.0,76534000.0,81403000.0,9132.136668,7.264337e+11
2021-11-09 09:00:00+09:00,81402000.0,82700000.0,79987000.0,80857000.0,9216.260721,7.496424e+11
...,...,...,...,...,...,...
2022-05-19 09:00:00+09:00,37100000.0,39085000.0,37000000.0,38780000.0,6407.341868,2.429746e+11
2022-05-20 09:00:00+09:00,38781000.0,39298000.0,37267000.0,37762000.0,5865.610376,2.252696e+11
2022-05-21 09:00:00+09:00,37798000.0,38253000.0,37558000.0,38037000.0,2813.648150,1.067794e+11
2022-05-22 09:00:00+09:00,38037000.0,39150000.0,37886000.0,38933000.0,3336.520707,1.285776e+11
2022-05-23 09:00:00+09:00,38933000.0,39220000.0,38635000.0,39014000.0,2101.423374,8.171272e+10

In [22]:
df = pd.DataFrame(data=data, index=row, columns=col)

NameError: name 'row' is not defined

In [23]:
min = df['open'].min()

NameError: name 'df' is not defined

In [10]:
min

In [11]:
max = df['open'].max()

NameError: name 'df' is not defined

In [12]:
sum

In [13]:
df['low'].iloc[99]

NameError: name 'df' is not defined

In [14]:
df.head()

NameError: name 'df' is not defined

In [15]:
df

NameError: name 'df' is not defined

In [16]:
df['avr'].sort_index(ascending = True)

NameError: name 'df' is not defined

In [17]:
df['avr'].sort_index(by='avr')

NameError: name 'df' is not defined

In [18]:
df.index

NameError: name 'df' is not defined

In [21]:
data.reindex(['1','1','1','1','1','1','1','1','1'], axis=1)

                            1   1   1   1   1   1   1   1   1
2021-11-05 09:00:00+09:00 NaN NaN NaN NaN NaN NaN NaN NaN NaN
2021-11-06 09:00:00+09:00 NaN NaN NaN NaN NaN NaN NaN NaN NaN
2021-11-07 09:00:00+09:00 NaN NaN NaN NaN NaN NaN NaN NaN NaN
2021-11-08 09:00:00+09:00 NaN NaN NaN NaN NaN NaN NaN NaN NaN
2021-11-09 09:00:00+09:00 NaN NaN NaN NaN NaN NaN NaN NaN NaN
...                        ..  ..  ..  ..  ..  ..  ..  ..  ..
2022-05-19 09:00:00+09:00 NaN NaN NaN NaN NaN NaN NaN NaN NaN
2022-05-20 09:00:00+09:00 NaN NaN NaN NaN NaN NaN NaN NaN NaN
2022-05-21 09:00:00+09:00 NaN NaN NaN NaN NaN NaN NaN NaN NaN
2022-05-22 09:00:00+09:00 NaN NaN NaN NaN NaN NaN NaN NaN NaN
2022-05-23 09:00:00+09:00 NaN NaN NaN NaN NaN NaN NaN NaN NaN

[200 rows x 9 columns]