In [29]:
from pandas import Series, DataFrame

col = ['col1','col2','col3','col4','col5']
row = ['row1','row2','row3','row4']
data = [1,2,3,pd.NA,5],[6,pd.NA,8,pd.NA,10],[11,12,13,14,15],[pd.NA,pd.NA,pd.NA,pd.NA,pd.NA]
df = pd.DataFrame(data,row,col)
print(df)

      col1  col2  col3  col4  col5
row1     1     2     3  <NA>     5
row2     6  <NA>     8  <NA>    10
row3    11    12    13    14    15
row4  <NA>  <NA>  <NA>  <NA>  <NA>

In [30]:
df.(isnul())

SyntaxError: invalid syntax (568937099.py, line 1)

In [31]:
df

      col1  col2  col3  col4  col5
row1     1     2     3  <NA>     5
row2     6  <NA>     8  <NA>    10
row3    11    12    13    14    15
row4  <NA>  <NA>  <NA>  <NA>  <NA>

In [32]:
print(df.dropna(thresh=3, axis=1))

      col1  col3  col5
row1     1     3     5
row2     6     8    10
row3    11    13    15
row4  <NA>  <NA>  <NA>

In [33]:
print(df.dropna(thresh=4, axis=1))

Empty DataFrame
Columns: []
Index: [row1, row2, row3, row4]