In [2]:
import pandas as pd

df = pd.DataFrame(data=[[1,2],[3,4],[5,6],[7,8]],index=['row1','row2','row3','row4'],columns=['col1','col2'])
print(df)

df1 = pd.Series({'idx1':1,'idx2':2})
print(df1)

df2 = pd.DataFrame(data=[[1,2],[3,4]],index=['row1','row2'],columns=['col1','col2'])
print(df2)





#index메서드는 pandas객체의 index(행)를 출력
result = df.index
print(result)

      col1  col2
row1     1     2
row2     3     4
row3     5     6
row4     7     8
idx1    1
idx2    2
dtype: int64
      col1  col2
row1     1     2
row2     3     4
Index(['row1', 'row2', 'row3', 'row4'], dtype='object')

In [3]:
df

      col1  col2
row1     1     2
row2     3     4
row3     5     6
row4     7     8