In [4]:
import numpy as np
import pandas as pd

col = ['c1','c2','c3']
row = ['r1','r2','r3']
data = [[1.123,2.456,3.7897],[4,5,6],[7,8,9]]
df = pd.DataFrame(data=data, index=row, columns=col)
df2 = pd.DataFrame(data=data, index=row, columns=col)
print(df)
print('\n')
print(df2)

       c1     c2      c3
r1  1.123  2.456  3.7897
r2  4.000  5.000  6.0000
r3  7.000  8.000  9.0000


       c1     c2      c3
r1  1.123  2.456  3.7897
r2  4.000  5.000  6.0000
r3  7.000  8.000  9.0000

In [5]:
df

       c1     c2      c3
r1  1.123  2.456  3.7897
r2  4.000  5.000  6.0000
r3  7.000  8.000  9.0000

In [8]:
df2

       c1     c2      c3
r1  1.123  2.456  3.7897
r2  4.000  5.000  6.0000
r3  7.000  8.000  9.0000

In [10]:
print(df.sum(axis = 0)) #0은 행, sum으로 행을 모두 더한 값 출력함

c1    12.1230
c2    15.4560
c3    18.7897
dtype: float64

In [11]:
print(df.sum())

c1    12.1230
c2    15.4560
c3    18.7897
dtype: float64

In [16]:
type(data)

list

In [15]:
print(df.rolling(window=3),sum())

TypeError: sum() takes at least 1 positional argument (0 given)